<li class="adminPost">
  <div class="post-title">
    {{post.title}}
  </div>
  <div class="post-details">
    <ul>
      <li>{{post.author}}</li>
      <li>{{post.date}}</li>
    </ul>
  </div>
  <div class="post-body">
    <img src={{post.image}} alt={{post.title}} />
    <p>{{post.content}}</p>
  </div>
  {{update-post post=post update="update"}}
  <button {{action 'delete' post}}>Delete Post</button>
  <hr>
</li>
